<br/>
<div class="titulos">
  <p>CÓDIGO DE ÉTICA PROFESIONAL DE LOS CORREDORES DE BIENES RAICES FEDERACIÓN NACIONAL DE CORREDORES DE BIENES RAICES</p><br/>
</div>
<div class="titulos">
  <p>TÍTULO I</p>
</div>
<div class="titulos">
  <p>NORMAS DE ACCIÓN DEL PROFESIONALCORREDOR DE BIENES RAICES</p><br/>
</div>

<p>Art. 1.- Las normas de este código serán observadas en forma obligatorias por todos los profesionales Corredores de Bienes Raíces, considerándose así quienes hayan obtenido su Licencia Profesional mediante procedimiento legalmente autorizado.</p><br/>
<p>Art. 2.- El Corredor Profesional de Bienes Raíces, procederá a la ampliación de sus conocimientos y su cultura general.</p><br/>
<p>Art. 3.- El profesional inmobiliario deberá estar al corriente de la evolución del tema inmobiliario en los planos locales y nacional para poder contribuir a la información de la consecuciónpúblicas en materia física, legislativa, de utilización de los bienes raíces, del urbanismo de otras cuestiones relativas a la propiedad inmobiliaria.</p><br/>
<p>Art. 4.- Es un deber del Profesional Inmobiliario estar bien informado en todo momento, de las condiciones del mercado, con el objeto de poder aconsejar a sus clientela en lo que se refiere al justo precio.</p><br/>
<p>Art. 5.- En el ejercicio de su profesión no abra discriminación de alguna índole</p><br/>
<p>Art. 6.- Está obligado a cumplir y hacer cumplir las leyes, derechos y reglamentos que sirve de marco legal para el ejercicio profesional y acatara disciplinadamente las resoluciones de la Organización Nacional y Provincial de Corredores de Bienes y Raíces.</p><br/>
<p>Art. 7.- No ejercer las funciones que compete a otras profesiones y recomendara la intervención de un técnico en el área correspondiente, a no ser que posea, además títulos en esas áreas.</p><br/>
<p>Art. 8.- El Corredor profesional cuidara en todo momento que sus actos hablen de si mismo y no de sus palabras, demostrando molestias en sus expresiones.</p><br/>
<p>Art. 9.- El corredor Profesional no debe en ningún caso prestarse atrabajar por una remuneración inferior a la fijada por el MICEIP.</p><br/>
<p>Art. 10.- El profesional inmobiliario deberá, en todas las ocasiones, dar pruebas de discreción y moderación con el objeto de no comprometer su propia reputación, ni de los otros.Al defender sus derechos y los de su clientela, debe evitar toda su exageración.</p><br/>
<p>Art. 11.- El profesional Inmobiliario velara para que en todas las transacciones se convengan un precio justo, y respetara el secreto profesional.</p><br/>
<p>Art. 12.- Es un deber del profesional Inmobiliario, proteger al público contra el fraude, la presentación falsa o las practicas dudosas en el campo inmobiliario.</p><br/>
<p>Art. 13.- El profesional Inmobiliario no debe firmar ningún documento que indique precio falso.</p><br/>

<div class="titulos">
  <p>TÍTULO II</p>
</div>
<div class="titulos">
  <p>RELACIONES CON EL ESTADO</p><br/>
</div>

<p>Art. 14.- Dará el cumplimiento a lo dispuesto por el Art.12 de la Ley de los Corredores de Bienes raíces, además de lo previsto en la Ley de Modernización del Estado y la legislación aplicable al sector público.</p><br/>

<div class="titulos">
  <p>TÍTULO III</p>
</div>
<div class="titulos">
  <p>RELACIONES PROFESIONALES CON LOS COLEGAS</p><br/>
</div>

<p>Art. 15.- El profesional Inmobiliario respetara los principios de la leal competencia y cortesía.</p><br/>
<p>Deberá ser leal con sus colegas.</p><br/>
<p>Art. 16.- Deberá ser respetuoso y prudente de sus actos.</p><br/>
<p>Art. 17.- El profesional inmobiliario no debe tratar de obtener ventajas desleales sobre sus colegas, y debe de estará dispuesto a compartir con ellos sus honorarios con el respectivos porcentajes.</p><br/>
<p>Art. 19.- El reparto de las comisiones debe de hacerse siempre sobre bases fijadas previamente por escrito, con objeto de evitar cualquier discusión cuando el negocio se realiza.</p><br/>
<p>Art. 20.- Respetar en sus relaciones con otros colegas, los acuerdos verbales o escritos y, en todo caso, diferirá el juramento como prueba a su favor.</p><br/>
<p>Art. 21.- El profesional inmobiliario no debe ofrecer sus servicios a un cliente que le ha prestado a otro colega.</p><br/>
<p>Esta restricción debe, no obstante, tener una limitación de tiempo y de manera razonable en función de las circunstancias y de la naturaleza de los negocios tratados.</p><br/>
<p>Art. 22.- El profesional inmobiliario no debe solicitar los servicios de un empleado o corredor de otro colega a espalda de este.</p><br/>

<div class="titulos">
  <p>TÍTULO IV</p>
</div>
<div class="titulos">
  <p>RELACIONES CON LOS CLIENTES</p><br/>
</div>

<p>Art. 23.- Al aceptar un contrato, el profesional Inmobiliario se compromete a proteger promover los intereses de sus clientes. Sin embargo, el deber de fidelidad absoluta hacia los intereses del cliente- que es primordial - no dispensa al Profesional Inmobiliario de su obligación de tratar equitativamente con todas las partes interesadas.</p><br/>
<p>Art. 24.- El profesional Inmobiliario no debe comprar, en todo o en parte, por su propia cuenta o de terceros o por cuenta de su firma, incluso por cuenta de su organismo en el que posee participación importante, una propiedad que le pertenece todo o en parte, debe informar al comprador de esta situación.</p><br/>
<p>Art. 25.- El corredor profesional deberá estimular y promover la práctica del corretaje exclusivo de tener una limitación: “la del tiempo”.</p><br/>
<p>Art. 26.- Cuando actúa como administrador de bienes, el profesional Inmobiliario no debe aceptar comisiones, descuentos o beneficios sobre los gastos realizados por cuenta de un propietario, sin el conocimiento y acuerdo de este último.</p><br/>
<p>Art. 27.- El profesional Inmobiliario no debe encargarse de una peritación y/o avaluó que sobre pasen el marco de su experiencia, sin el concurso de un especialista de la clase de propiedad en cuestión o sin informar al cliente de su situación.</p><br/>
<p>En esas condiciones, el especialista solicitado debe de estar reconocido como tal y los límites de su intervención deben quedar claramente definidos.</p><br/>
<p>Art. 28.- Cuando reciba formalmente el encargo de realizar una evaluación comercial de una propiedad inmobiliaria, el Profesional Inmobiliario no debe dar su opinión sin un análisis completo y una interpretación cuidadosa y amplia del conjunto de factores que condicionan el valor de una propiedad. Su consejo constituye un servicio profesional.</p><br/>
<p>El profesional Inmobiliario no bebe encargarse de una evaluación o dar su opinión sobre el valor de una propiedad en la que tiene o piensa adquirir intereses, a menos de hacerlo constar en su evaluación. Las Organizaciones Profesionales deben de fijar escalas de remuneración que no dependan del valor expresado en la evaluación.</p><br/>
<p>Art. 29.- El profesional Inmobiliario deberá evitar trabajar bajo la modalidad de “sobreprecio”.</p><br/>

<div class="titulos">
  <p>TÍTULO V</p>
</div>
<div class="titulos">
  <p>DE LA PUBLICIDAD</p><br/>
</div>

<p>Art. 30.- En su publicidad, el Profesional Inmobiliario debe poner especial cuidado en dar una descripción real del Inmueble.</p><br/>
<p>Art. 31.- En su publicidad deberá constar su número de Licencia Profesional.</p><br/>
<p>Art. 32.- No permitirá que se utilice su Licencia Profesional por terceros.</p><br/>
<p>Art. 33.- En la Publicidad no deberá utilizar adjetivos comparativos, ni frases que menos caben los principios de leal competencia con sus colegas.</p><br/>
<p>Art. 34.- El profesional Inmobiliario no debe proponer o anunciar una propiedad para la que no tenga contrato; el precio indicado en las ofertas debe ser el convenio con el propietario en el contrato.</p><br/>
<p>Art. 35.- Competente al tribunal de honor el conocimiento y sanción de la conducta de los Corredores de Bienes Raíces en el ejercicio de su profesión, sin perjuicio de las acciones civiles o penales a que dicha conducta diera lugar.</p><br/>
<p>Art. 36.- Las normas no contempladas en este código de ética profesional serán aquellas contempladas en la ley de los Corredores de Bienes Raíces y demás disposiciones conexas.</p><br/>
<p>Disposiciones transitorias federación nacional de bienes raíces</p><br/>
<p>f) CBR. Maria del Carmen Vela / Presidente</p><br/>
<p>f) Cr. Alfredo Villaroel S, / Secretario</p><br/>
<p>El código de Ética del Corredor de Bienes Raíces, fue aprobado en dos asambleas Extraordinarias de la federación Nacional de Corredores de Bienes Raíces, realizadas en la ciudad de Cuenca, los días 13 y 14 de enero de 1995, con la asistencia de delegaciones de las asociaciones de Corredores de Bienes Raíces de Azuay, Pichincha y Tungurahua , legalmente reconocidas por el ministerio de industrias , Comercio , Integración y pesca (MICEIP).</p><br/>