<br/>
<div class="titulos">
  <p>LEY DE CORREDORES DE BIENES RAICES DEL ECUADOR</p><br/>
</div>
<div class="titulos">
  <p>REGISTRO OFICIAL No. 790</p><br/>
</div>

<p>Quito, 19 de julio de1984</p><br/>
<p>Congreso Nacional</p><br/>
<p>El Plenario de las Comisiones Legislativas</p><br/>
<p>Considerando:</p><br/>
<p>Que el desarrollo de la industria de la construcción, al promover el crecimiento urbanístico del país, ha determinado la expansión del mercado inmobiliario y la necesidad de que éste cuente con agentes de comercio especializados;</p><br/>
<p>Que el Código de Comercio no regula las actividades de los corredores de bienes raíces, cuyas funciones, formación profesional y técnicas de trabajo difieren de los que corresponde a los corredores en general;</p><br/>
<p>Que es necesario que los corredores de bienes raíces se capaciten en los establecimientos de nivel superior del país y que estén protegidos por una ley de defensa profesional;</p><br/>
<p>Que es de interés social fomentar el mercado de bienes raíces con el objeto de propender a un mayor rendimiento de la industria de la construcción y de precautelar los derechos e intereses de las personas que adquieren bienes inmuebles;</p><br/>
<p>En uso de sus atribuciones, expide la siguiente,</p><br/>

<div class="titulos">
  <p>LEY DE LOS CORREDORES DE BIENES RAÍCES</p><br/>
</div>
<div class="titulos">
  <p>CAPITULO I</p>
</div>
<div class="titulos">
  <p>DE LOS CORREDORES DE BIENES RAÍCES</p><br/>
</div>

<p>Art. 1.- Son corredores de bienes raíces las personas naturales o jurídicas que, previo el cumplimiento de los requisitos legales y reglamentarios, ejercen el corretaje de manera profesional.</p><br/>
<p>Art. 2.- Los corredores de bienes raíces son agentes que reciben por escrito el encargo de ofertar o demandar contratos, actos y operaciones de compraventa, hipoteca, anticresis u otros contratos similares de bienes raíces.</p><br/>
<p>Art. 3.- Para ser corredor de bienes se requiere:</p><br/>
<p>a)	Ser mayor de edad y hallarse habilitado para ejercer el comercio;</p><br/>
<p>b)	Obtener la licencia de corredor profesional;</p><br/>
<p>c)	Haber tenido negocio o corretaje de bienes raíces por lo menos durante un año de actividad y obtener el certificado correspondiente del Ministerio de Educación, según el caso;</p><br/>
<p>d)	Cumplir lo dispuesto en el artículo 77 del Código de Comercio y las demás leyes; y,</p><br/>
<p>e)	Los demás requisitos contemplados en las diversas leyes.</p><br/>
<p>Art. 4.- Son deberes y obligaciones del corredor de bienes raíces:</p><br/>
<p>a)	Los que se deriven de la relación contractual que pacte por escrito con la persona que ocupe sus servicios;</p><br/>
<p>b)	Proporcionar al cliente un asesoramiento integral sobre las ventajas y desventajas del negocio que éste le encomiende;</p><br/>
<p>c)	Llevar los registros, archivos, libros y demás documentos exigidos por la ley;</p><br/>
<p>d)	Ejercer su profesión de acuerdo con las leyes y el correspondiente Código de Ética del Corredor de Bienes Raíces; y,</p><br/>
<p>e)	los demás que se determinen en el reglamento.</p><br/>
<p>Art. 5.- Prohíbase a los corredores de bienes raíces:</p><br/>
<p>a)	Intervenir en actos o contratos que, de acuerdo con el Código de Comercio, sean de competencia exclusiva de otros agentes de Comercio, excepto los demás permitidos por la ley;</p><br/>
<p>b)	Ejercer el corretaje de bienes raíces mientras desempeña cargo o función pública;</p><br/>
<p>c)	Vender o prometer en venta bienes raíces en proyecto o en ejecución sin las correspondientes garantías económicas para su terminación por parte promotor;</p><br/>
<p>d)	Dar certificaciones que no consten en los asientos de sus registros, ni declarar en juicio, salvo que exista orden de juez competente, para que declare sobre lo que hubieren visto y oído dentro de su negocio; y,</p><br/>
<p>e)	Los demás actos o contratos que determine el Código de Ética del Corredor de Bienes Raíces.</p><br/>
<p>Art. 6.- (Reformado por Art. 28 de la Ley 12, R.O. 82-S, 9-VI-97).- Los corredores profesionales de bienes raíces percibirán por sus servicios, los honorarios fijados en el arancel que determinará el Ministerio de Comercio Exterior, Industrialización y Pesca, sin perjuicio de los convenios entre el corredor y su cliente.</p><br/>
<p>Art. 7.- En el contrato de corretaje de bienes raíces que se celebre entre el corredor y el cliente se hará constar, obligatoriamente, el plazo en que se realizará la operación y los honorarios que percibirá el Corredor por sus servicios.</p><br/>
<p>Si venciere el plazo fijado en el contrato sin que la operación se hubiere cumplido, el cliente quedará en libertad de desistir de ella o de contratar a otro corredor profesional, o contratar en forma directa, siempre que el incumplimiento del contrato no se deba al cliente.</p><br/>
<p>Art. 8.- Si en un contrato de corretaje de bienes raíces intervinieran dos o más corredores profesionales, en forma sucesiva o simultánea, convenido entre ellos y el cliente, los honorarios se dividirán entre ellos en partes iguales.</p><br/>
<p>Art. 9.- (Reformado por Art. 28 de la Ley 12, R.O. 82-S, 9-VI-97).- El Ministerio de Educación, organizará y regulará como carrera intermedia, el corretaje de bienes raíces y otorgará el título de Corredor de Bienes Raíces, previo el cumplimiento de los correspondientes requisitos.</p><br/>
<p>Dicho título deberá ser registrado en el Ministerio de Comercio Exterior, Industrialización y Pesca.</p><br/>
<p>Nota:</p><br/>
<p>El Art. 16 lit. i) del Estatuto del Régimen Jurídico y Administrativo de la Función Ejecutiva cambió la denominación del Ministerio de Comercio Exterior, Industrialización y Pesca por la de Ministerio de Comercio Exterior, Industrialización, Pesca y Competitividad.</p><br/>

<div class="titulos">
  <p>CAPITULO II</p>
</div>
<div class="titulos">
  <p>DE LA DEFENSA PROFESIONAL</p><br/>
</div>

<p>Art. 10.- (Reformado por Art. 28 de la Ley 12, R.O. 82-S, 9-VI-97).- En cada provincia en la que haya por lo menos diez corredores de bienes raíces, podrá formarse una asociación con el fin de promover y defender sus derechos e intereses profesionales. No podrá haber más de una asociación en cada provincia.</p><br/>
<p>Dichos corredores podrán afiliarse libremente a esta organización o a la más próxima en caso de no haberla en la respectiva provincia.</p><br/>
<p>Las asociaciones provinciales podrán constituir una federación nacional.</p><br/>
<p>Los estatutos de estas organizaciones serán aprobados por el Ministerio de Comercio Exterior, Industrialización y Pesca.</p><br/>
<p>Nota:</p><br/>
<p>El Art. 16 lit. i) del Estatuto del Régimen Jurídico y Administrativo de la Función Ejecutiva cambió la denominación del Ministerio de Comercio Exterior, Industrialización y Pesca por la de Ministerio de Comercio Exterior, Industrialización, Pesca y Competitividad.</p><br/>
<p>Art. 11.- Corresponde a la Federación Nacional aprobar el Código de Ética del Corredor de Bienes Raíces.</p><br/>

<div class="titulos">
  <p>CAPITULO III</p>
</div>
<div class="titulos">
  <p>DISPOSICIONES GENERALES</p><br/>
</div>

<p>Art. 12.- En los actos, contratos u operaciones a los que se refiere el Art. 2 de esta ley, que realicen las instituciones del sector público, sólo podrán intervenir los corredores de bienes raíces legalmente autorizados. Sus honorarios serán establecidos de conformidad con lo dispuesto por el artículo 6 de esta ley.</p><br/>
<p>En los casos de personas naturales o jurídicas de carácter privado, tales actos, contratos u operaciones podrán realizarlos en forma directa con sus propios bienes, u obligatoriamente por intermedio de un corredor de bienes raíces.</p><br/>
<p>Art. 13.- En el caso de las personas jurídicas constituidas con el objeto de dedicarse al corretaje de bienes raíces, el gerente o representante legal será necesariamente un corredor profesional de bienes raíces.</p><br/>
<p>Las personas jurídicas podrán contratar personas que hagan las veces de agentes de bienes raíces.</p><br/>
<p>Art. 14.- Cuando dos o más corredores profesionales de bienes raíces intervengan en un acto o contrato de esta naturaleza, responderán solidariamente ante terceros de los daños y perjuicios que les causaren. En el caso de las personas jurídicas, éstas responderán, como tales, por las operaciones de sus agentes.</p><br/>
<p>Los corredores que intervengan conjuntamente o las personas jurídicas legalmente constituidas serán igualmente responsables por los actos o contratos de sus apoderados, quienes sólo podrán ejercer este cargo con poder especial. Sin este poder, el procurador, sea persona natural o jurídica, no podrá intervenir ni menos autorizar ninguna operación propia del corredor profesional de bienes raíces.</p><br/>
<p>Art. 15.- Las infracciones a esta ley y al Código de Ética del Corredor de Bienes Raíces, por parte de los corredores profesionales o por parte de personas que legalmente practiquen la profesión, serán sancionados por los respectivos jueces competentes con la multa de uno a cien salarios mínimos vitales, o con la suspensión temporal o la prohibición definitiva del ejercicio de la correduría, de acuerdo con la gravedad de la falta. La multa y la prohibición temporal o absoluta de ejercer la profesión de corredor, podrán imponerse simultáneamente.</p><br/>
<p>Art. 16.- Son aplicables al corredor profesional de bienes raíces las normas correspondientes del Código de Comercio.</p><br/>

<div class="titulos">
  <p>DISPOSICIONES TRANSITORIAS</p><br/>
</div>

<p>PRIMERA.- (Reformado por Art. 28 de la Ley 12, R.O. 82-S, 9-VI-97).- Corresponde a las asociaciones provinciales legalmente constituidas, la calificación de los corredores de bienes raíces que estuvieren ejerciendo su actividad hasta la fecha en que el Ministerio de Educación cumpla con lo dispuesto en el artículo 9 de la presente ley.</p><br/>
<p>Cada asociación enviará la nómina de las personas calificadas al Ministerio de Comercio Exterior, Industrialización y Pesca para el registro correspondiente.</p><br/>
<p>En caso de corredores de bienes raíces, que no hayan sido calificados por la respectiva asociación, éstos podrán apelar ante la Federación Nacional.</p><br/>
<p>SEGUNDA.- Hasta que el Ministerio de Educación del país organice y realice los cursos a que se refiere el artículo 9 de esta ley, cada asociación provincial de corredores profesionales de bienes raíces podrá otorgar la respectiva licencia, previa la realización de un curso de capacitación y de acuerdo al reglamento de esta ley.</p><br/>
<p>ART. FINAL.- La presente ley entrará en vigencia a partir de la fecha de su promulgación en el Registro Oficial.</p><br/>
<p>Dada, en Quito, en la Sala de Sesiones del Plenario de las Comisiones Legislativas, a los veinte y ocho días del mes de junio de mil novecientos ochenta y cuatro.</p><br/>
<p>Dr. Manuel Valencia Vásquez, Vicepresidente del Congreso Nacional, encargado de la Presidencia.</p><br/>
<p>Francisco Garcés Jaramillo, Secretario General del Congreso Nacional.</p><br/>
<p>Palacio Nacional, en Quito al trece de Julio de mil novecientos ochenta y cuatro.</p><br/>
<p>Ejecútese</p><br/>
<p>F.) Osvaldo Hurtado, Presidente Constitucional de la República</p><br/>