<html>
    <head>
        <title>Mision - Vision</title>
    </head>
  <body>
    <table>
      <tr>
        <td><div class="titulos"><p>MISION</p></div></td>
        <td><div class="titulos"><p>VISION</p></div></td>
      </tr>
      <tr>
        <td><center><img alt="" width="248" height="180" <%= image_tag "principal/mision.jpg" %></img></center></td>
        <td><center><img alt="" width="248" height="180" <%= image_tag "principal/vision.jpg" %></img></center></td>
      </tr>
      <tr>
        <td><p> Colaborar para el crecimiento y desarrollo económico del país, siempre dentro del marco de las leyes,
          con ética, equidad y responsabilidad social, con servicios de corretaje de bienes inmuebles ya sea
          dentro o fuera del país.</p></td>
        <td><p> Demostrar liderazgo entre la competencia con trabajo fecundo y sobre todo con ética profesional,
          respetando las leyes y reglamentos que nos rigen.   Ofreciendo servicio  de calidad, siendo una
          inmobiliaria respetable y confiable dentro de toda la comunidad nacional y mundial.</p></td>
      </tr>
    </table>

    
    <!--
    <div class="titulos">
      <p>MISION</p><br/>
    </div>
      <p> Colaborar para el crecimiento y desarrollo económico del país, siempre dentro del marco de las leyes, 
          con ética, equidad y responsabilidad social, con servicios de corretaje de bienes inmuebles ya sea
          dentro o fuera del país.</p><br/>
    <div class="titulos">
      <p>VISION</p><br/>
    </div>
      <p> Demostrar liderazgo entre la competencia con trabajo fecundo y sobre todo con ética profesional, 
          respetando las leyes y reglamentos que nos rigen.   Ofreciendo servicio  de calidad, siendo una
          inmobiliaria respetable y confiable dentro de toda la comunidad nacional y mundial.</p><br/>-->
  </body>
</html>
