<br/>
<div class="titulos">
  <p>REGLAMENTO DE LA LEY DE CORREDORES DE BIENES RAÍCES</p>
</div>
<div class="titulos">
  <p>(Decreto No. 1917-A)</p><br/>
</div>
<div class="titulos">
  <p>León Febres-Cordero Ribadeneyra,</p>
</div>
<div class="titulos">
  <p>PRESIDENTE CONSTITUCIONAL DE LA REPÚBLICA,</p><br/>
</div>
<div class="titulos">
  <p>Considerando:</p><br/>
</div>

<p>Que se halla en vigencia la Ley 173 de los Corredores de Bienes Raíces expedida el 28 de junio de 1984, y publicada en el Registro Oficial No. 790, de 19 de junio del mismo año;</p><br/>
<p>Que la referida Ley requiere de un reglamento para su aplicación eficaz; y,</p><br/>
<p>En uso de las atribuciones que le confiere el literal c) del Art. 78 (357) de la Constitución Política,</p><br/>
<p>Decreta:</p><br/>

<div class="titulos">
  <p>El siguiente REGLAMENTO DE LA LEY DE CORREDORES DE BIENES RAÍCES:</p><br/>
</div>
<div class="titulos">
  <p>Capítulo I</p>
</div>
<div class="titulos">
  <p>DE LOS CORREDORES DE BIENES RAÍCES</p><br/>
</div>

<p>Art. 1.-  Están amparados por la Ley y el Reglamento de Corredores de Bienes Raíces todas las personas naturales o jurídicas que ejerzan el corretaje de manera profesional.</p><br/>
<p>Art. 2.-  Una persona ejerce el corretaje de manera profesional cuando, habiendo cumplido con lo dispuesto en el artículo tercero de la Ley de los Corredores de Bienes Raíces, se dedique a esa actividad en forma permanente.</p><br/>
<p>Art. 3.-  La licencia de corredor profesional habilita a quien la posee para ejercer las actividades de corredor de bienes raíces.</p><br/>
<p>Art. 4.-  A más de los previstos en la Ley, son deberes y obligaciones del corredor de bienes raíces:</p><br/>
<p>a)	Mantener en su sede o principal asiento de sus negocios una oficina abierta al público;</p><br/>
<p>b)	Poner el número de su licencia profesional en sus papeles y formularios membretados, publicarlo en sus avisos de prensa y hacerlo constar  en todos los actos y contratos que suscriba como corredor, y</p><br/>
<p>c)	Mantener vigente y completa la caución a que se refiere el artículo 77 del Código de Comercio.</p><br/>
<p>Art. 5.-  (Reformado por Art. 28 de la Ley 12, R.O. 82-S, 9-VI-1997).- Los requisitos y formalidades exigidos por la Ley para el ejercicio de la  profesión de corredor de bienes raíces, se cumplirán en la siguiente forma y según el caso:</p><br/>
<p>1.	Antes de que el Ministerio de Educación organice y regule la carrera intermedia de Corredor de Bienes Raíces:</p><br/>
<p>Nota:</p><br/>
<p>Según la actual estructura ministerial contemplada en el Art. 16 del Estatuto del Régimen Jurídico y Administrativo de la Función Ejecutiva, el Ministerio de Educación es independiente del Ministerio de Cultura.</p><br/>
<p>a)	Las asociaciones provinciales realizarán cursos de capacitación teórica para quienes hubieren tenido negocio o corretaje de bienes raíces por lo menos durante un año de actividad con anterioridad a la vigencia del presente Reglamento.</p><br/>
<p>b)	Una vez realizado el curso, se otorgará el respectivo certificado o diploma de participación a quienes hubieren asistido a por lo menos el noventa por ciento de las actividades curriculares.</p><br/>
<p>c)	Obtenido el certificado o diploma de participación la asociación provincial legalmente constituida procederá a la calificación de la experiencia y conocimientos del candidato.</p><br/>
<p>En caso de calificación negativa, el candidato podrá apelar de la decisión ante la Federación Nacional.</p><br/>
<p>De así hacerse, la asociación provincial respectiva enviará a la Federación la documentación aportada por el candidato, las pruebas rendidas, las evaluaciones efectuadas y copia de la resolución negativa pertinente a fin de que la Federación Nacional proceda a revisar la decisión y resuelva por los méritos de lo actuado.</p><br/>
<p>d)	Las asociaciones comunicarán al Ministerio de Comercio Exterior, Industrialización y Pesca los nombres de los corredores que hubieren sido calificados, para su registro.</p><br/>
<p>Notas:</p><br/>
<p>-	De conformidad con el Art. 1 del D.E. No. 7 (R.O. 36, 8-III-2007) se sustituye al Ministerio de Comercio Exterior, Industrialización, Pesca y Competitividad por el Ministerio de Industrialización y Competitividad; sin embargo, por medio del Art. 1 del D.E. No. 144 (R.O. 37, 9-III-2007) cambia la denominación del Ministerio de Industrialización y Competitividad por la de Ministerio de Industrias y Competitividad.</p><br/>
<p>-	Mediante Decreto 1558 (R.O. 525, 10-II-2009) se reemplazó al "Ministerio de Industrias y Competitividad" por el "Ministerio de Industrias".</p><br/>
<p>e)	Cumplidos estos requisitos, el corredor rendirá ante un Juzgado de lo Civil la caución prevista en el artículo 77 del Código de Comercio y estipulada en el Decreto Ejecutivo No. 709, publicado en el R.O. 177 de 2 de mayo de 1975.</p><br/>
<p>f)	Una vez rendida la caución, la asociación provincial le conferirá la licencia de corredor profesional de bienes raíces y con ella se presentará el corredor ante el mismo juzgado en que rindió la caución para prestar el juramento de desempeñar fiel y legalmente sus actividades.</p><br/>
<p>g)	Finalmente, el corredor procederá a su inscripción en el Registro Mercantil, de conformidad con las disposiciones de los artículos 23 y 26 del Código de Comercio.</p><br/>
<p>2.	Cuando el Ministerio de Educación organice y regule la Carrera Intermedia de corredor  de bienes raíces, los nuevos corredores obtendrán su título en los establecimientos autorizados para ello, lo registrarán en el Ministerio de Comercio Exterior, Industrialización y Pesca y se procederá de conformidad con lo dispuesto en los literales e), f) y g) del numeral anterior.</p><br/>
<p>Notas:</p><br/>
<p>-	De conformidad con el Art. 1 del D.E. No. 7 (R.O. 36, 8-III-2007) se sustituye al Ministerio de Comercio Exterior, Industrialización, Pesca y Competitividad por el Ministerio de Industrialización y Competitividad; sin embargo, por medio del Art. 1 del D.E. No. 144 (R.O. 37, 9-III-2007) cambia la denominación del Ministerio de Industrialización y Competitividad por la de Ministerio de Industrias y Competitividad.</p><br/>
<p>-	Según la actual estructura ministerial contemplada en el Art. 16 del Estatuto del Régimen Jurídico y Administrativo de la Función Ejecutiva, el Ministerio de Educación es independiente del Ministerio de Cultura.</p><br/>
<p>-	Mediante Decreto 1558 (R.O. 525, 10-II-2009) se reemplazó al "Ministerio de Industrias y Competitividad" por el "Ministerio de Industrias".</p><br/>
<p>3.	El año de actividad previsto en la Ley como requisito para obtener la licencia de corredor profesional de bienes raíces se cumplirá mediante prácticas que efectuará el aspirante bajo la supervisión de un  corredor profesional.</p><br/>
<p>Art. 6.-  Las personas jurídicas que cumplan con lo dispuesto en el Art. 13 de la Ley de Corredores de Bienes Raíces, recibirán la correspondiente licencia de correduría.</p><br/>
<p>Art. 7.-  El corredor profesional que hubiere obtenido en una provincia la correspondiente licencia, podrá ejercer libremente sus actividades en cualquier lugar del territorio nacional, mientras se halle en vigencia la licencia.</p><br/>

<div class="titulos">
  <p>Capítulo II</p>
</div>
<div class="titulos">
  <p>DEL CONTRATO DE CORRETAJE DE BIENES RAÍCES</p><br/>
</div>

<p>Art. 8.-  El contrato de corretaje de bienes raíces es aquel que establece la prestación de servicios profesionales por el que un corredor legalmente autorizado recibe por escrito el encargo de ofertar o demandar determinado negocio sobre bienes raíces, dentro de un plazo acordado y por unos honorarios fijados de conformidad con la Ley.</p><br/>
<p>Art. 9.-  El contrato de corretaje de bienes raíces tiene por objeto el encargo de ofertar o demandar:</p><br/>
<p>a)	La transferencia de dominio de bienes raíces y su hipoteca;</p><br/>
<p>b)	El arrendamiento de  bienes inmuebles y la anticresis;</p><br/>
<p>c)	Todo acto o contrato que se relacione con bienes inmuebles.</p><br/>
<p>Art. 10.-  El instrumento en el que conste el contrato de corretaje de bienes raíces, deberá contener  básicamente:</p><br/>
<p>a)	El nombre y apellido de los otorgantes;</p><br/>
<p>b)	El objeto del contrato;</p><br/>
<p>c)	El plazo para la ejecución del encargo;</p><br/>
<p>d)	Los honorarios que percibirá el corredor por sus servicios;</p><br/>
<p>e)	El número de la licencia profesional de corredor; y</p><br/>
<p>f)	El lugar y fecha en que se suscribe el documento.</p><br/>

<div class="titulos">
  <p>Capítulo III</p>
</div>
<div class="titulos">
  <p>DE LA DEFENSA PROFESIONAL</p><br/>
</div>

<p>Art. 11.-  Ninguna persona podrá realizar actividad de corretaje de bienes raíces sin contar con la correspondiente licencia. Los infractores serán sancionados de conformidad con la Ley.</p><br/>
<p>El carnet de licencia profesional se renovará anualmente previa comprobación de que se halla vigente y completa la caución a que está obligada por disposición de la Ley y certificación del Tribunal de Honor de la respectiva Asociación Provincial de que el corredor no ha sido suspendido.</p><br/>
<p>Art. 12.- Quienes carecieren de licencia, sólo podrán practicar legalmente actividades de corretaje haciéndolo bajo la dependencia de un corredor profesional o de una persona jurídica constituida de conformidad con el Art. 13 de la Ley.</p><br/>
<p>Art. 13.-  La formación y capacitación de profesionales corredores de bienes raíces deberá prepararlos para la prestación eficiente de los siguientes servicios:</p><br/>
<p>-	Asesoría sobre bienes raíces;</p><br/>
<p>-	Avalúos inmobiliarios;</p><br/>
<p>-	Estudio e investigación de mercados inmobiliarios;</p><br/>
<p>-	Planificación de comercialización inmobiliaria;</p><br/>
<p>-	Publicidad inmobiliaria;</p><br/>
<p>-	Promoción y manejo de comercialización inmobiliaria;</p><br/>
<p>-	Administración inmobiliaria;</p><br/>
<p>-	Gestiones y trámites relacionados con actos y contratos en materia inmobiliaria.</p><br/>
<p>Art. 14.-  Prohíbase a los corredores profesionales  amparar el ejercicio ilegal de la correduría, sea autorizando con su firma contratos de corretaje ajenos, confiriendo recibos de ingresos no percibidos o  en cualquier otra forma que permita la actuación como corredores a personas no autorizadas por la Ley.</p><br/>
<p>Art. 15.-  Las atribuciones de calificar a los corredores de bienes raíces, otorgarles la respectiva licencia y realizar cursos de capacitación que la Ley atribuye transitoriamente a las asociaciones provinciales serán ejercidas por los directorios de cada asociación.</p><br/>
<p>Hasta que el Ministerio de Educación organice y regule la carrera intermedia a que se refiere el Art. 9 de la Ley de los Corredores, los cursos de capacitación que realicen las asociaciones provinciales deben efectuarse de conformidad con las normas de la Ley de Educación y su Reglamento General.</p><br/>
<p>Nota:</p><br/>
<p>Según la actual estructura ministerial contemplada en el Art. 16 del Estatuto del Régimen Jurídico y Administrativo de la Función Ejecutiva, el Ministerio de Educación es independiente del Ministerio de Cultura.</p><br/>
<p>Art. 16.-  El presente Decreto entrará en vigencia a partir de su publicación en el Registro Oficial, y de su ejecución encárguense el señor Ministro de Industrias, Comercio, Integración y Pesca, y el señor Ministro de Educación y Cultura.</p><br/>
<p>Dado en el Palacio Nacional, en Quito, a 3 de junio de 1986.</p><br/>
<p>Notas:</p><br/>
<p>-	De conformidad con el Art. 1 del D.E. No. 7 (R.O. 36, 8-III-2007) se sustituye al Ministerio de Comercio Exterior, Industrialización, Pesca y Competitividad por el Ministerio de Industrialización y Competitividad; sin embargo, por medio del Art. 1 del D.E. No. 144 (R.O. 37, 9-III-2007) cambia la denominación del Ministerio de Industrialización y Competitividad por la de Ministerio de Industrias y Competitividad.</p><br/>
<p>-	Según la actual estructura ministerial contemplada en el Art. 16 del Estatuto del Régimen Jurídico y Administrativo de la Función Ejecutiva, el Ministerio de Educación es independiente del Ministerio de Cultura.</p><br/>
<p>-	Mediante Decreto 1558 (R.O. 525, 10-II-2009) se reemplazó al "Ministerio de Industrias y Competitividad" por el "Ministerio de Industrias".</p><br/>
<p>FUENTES DE LA PRESENTE EDICIÓN DEL REGLAMENTO A LA LEY DE CORREDORES DE BIENES RAÍCES.</p><br/>
<p>1.- Decreto 1917-A (Registro Oficial 463, 23-VI-1986)</p><br/>
<p>2.- Ley 12 (Suplemento del Registro Oficial 82, 9-VI-1997).</p><br/>