<h1>RESEÑA HISTORICA</h1>
<p>En respuesta a una sentida necesidad presente hacía muchos años en nuestro medio, y en ejercicio de la atribución que le confiere el Art. 10 (inciso último) de la Ley de los Corredores de Bienes Raíces, promulgada en el Registro Oficial NO. 790 de 18 de julio de 1984, en ese entonces el Ministerio de Industrias, Comercio Integración y Pesca. MICIP,</p><br/>
<p>Acuerda:</p><br/>
<p>Art. 1. Dar por aprobado el  ESTATUTO DE LA ASOCIACIÓN DE CORREDORES DE BIENES RAÍCES DE EL ORO (ACBRO). Estatuto que fue analizado y aprobado en tres sesiones de Asamblea general los días 23 y 30 de octubre y  6 de Noviembre de 2004.</p><br/>
<p>Para esa época la ACBRO estaba formada por veinte socios, de los cuales ejercerían alrededor de seis personas de manera decidida: el Mayor Víctor Torres Álvarez, Stalin Farah, Flavio Carrión, Wilman Herrera y Magner Aguirre Pástor, los demás socios pese a tener su licencia de Corredores de Bienes Raíces, no ejercían el corretaje como una forma sustento, dado a que tenían otras actividades comerciales.</p><br/>
<p>Las reuniones se celebraban periódicamente en diferentes lugares, con aproximadamente cuatro o cinco miembros los cuales estaban dedicados de lleno a la actividad inmobiliaria.</p><br/>
<p>En ese entonces se le solicito al Lcdo. Lauro Mora entonces presidente de la ACBRO, convocar a elecciones para que hiciera la renovación del directorio a fin de que estos sean los encargados de engrandecer el nombre de la Asociación.</p><b/>
<p>Es así que en el muelle de cabotaje de Puerto Bolívar se lleva a efecto la elección habiendo resultado electo el siguiente directorio:</p><br/>
<p>Ab. Magner Aguirre Pástor	: Presidente.</p>
<p>Arq. Flaviano Carrión	: Vicepresidente.</p>
<p>Ing. Ramírez	: Tesorero.</p>
<p>Myr. Víctor Torres Álvarez	: Secretario.</p><br/>
<p>Dicho directorio duro dos años en sus funciones, y organizó el II CURSO DE CORREDORESDE BIENES  RAÍCES PROFESIONALES, que tuvo una asistencia de veinte alumnos de los cualesdiecinueve obtuvieron su licencia profesional, potencial humano valiosísimo que hoy dirige la Asociación de Corredores de Bienes Raíces de El Oro.</p><br/>
<p>El 20 de agosto del 2010, se llama a elecciones, donde votaron diecisiete de los socios activos, por lo que se procedió a designar al tribunal electoral formado por la Dra. Nelly Rey, Ing. Bolívar Arichábala y Lcda. Alexandra Zambrano.  Resultando electo el siguiente directorio:</p><br/>
<p>Ab. Magner Aguirre Pástor	: Presidente reelecto.</p>
<p>Myr. Víctor Torres Álvarez	: Vicepresidente.</p>
<p>Ab. Efraín Chávez Mora	: Secretario.</p>
<p>Lcda. Alexandra Zambrano Cruz	: Pro-secretaria.</p>
<p>Ab. Víctor Alfonso Eras Pogo	: Tesorero.</p>
<p>CBR. Bolívar Arichabala	: Vocal principal.</p>
<p>CBR. Cesar Arteaga	: Vocal principal.</p>
<p>CBR. Gerardo Romero	: Vocal principal.</p>
<p>CBR.  Rosa Vargas	: Vocal suplente.</p>
<p>CBR. Ulises Amores	: Vocal suplente.</p>
<p>CBR. Renan Pardo	: Vocal suplente.</p>
<p>Dra. Nelly Rey	: Tribunal de Honor.</p>
<p>Arq. Flavio Carrión	: Tribunal de Honor.</p>
<p>CBR. Marcia Sánchez	: Tribunal de Honor.</p><br/>
<p>Este directorio fue el encargado de organizar el III CURSO DE CORREDORES DE BIENES RAÍCES PROFESIONALES,  la cual se desarrolló con  asistencia de veinte alumnos. En este periodo se adquirió la sede de la Asociación ubicada en el Centro Comercial Unioro, como muestra del trabajo desarrollado por el entonces directorio y el fortalecimiento institucional y además cabe recalcar que el Ab. Magner Aguirre Pástor, en ese periodo fue electo presidente de la Federación Nacional de Corredores de Bienes Raíces del Ecuador (FENACBRE).</p><br/>
<p>El 25 de agosto del 2012, se convoca a la elección de un nuevo directorio de la Asociación de Corredores de bienes Raíces de El Oro, acto que fue realizado previo la conformación del tribunal electoral, formado por Claudio Tenicela, Eder Chininin y Cesar Arteaga, donde resulta electo y posesionado el siguiente directorio:</p><br/>
<p>CBR. Gerardo Romero Loayza	: Presidente.</p>
<p>CBR. Marcia Sánchez Espinoza	: Vicepresidenta.</p>
<p>Ab. Miguel Guanuche Cuenca	: Secretario.</p>
<p>Lcda. Alexandra Zambrano Cruz	: Pro-Secretaria.</p>
<p>Ing. Lucio Martínez Amaya	: Tesorero.</p>
<p>CBR. José Tamayo	: Vocal Principal.</p>
<p>Ing. Mónica Nugra	: Vocal Principal.</p>
<p>Tnlg. Miguel Chávez	: Vocal Principal.</p>
<p>CBR. Freddy Reinoso	: Vocal Suplente.</p>
<p>CBR. Eliecer Ordoñez	: Vocal Suplente.</p>
<p>CBR. Dolores Abad	: Vocal Suplente.</p>
<p>Cabe recalcar que el actual directorio, fue presentado en una sola lista y electo democráticamente por unanimidad.</p><br/>
<p>El actual directorio ha estado preocupado por En noviembre del 2012 la ACBRO participó de la conferencia internacional sobre enriquecimiento intelectual  y profesional en bienes raíces expuesta por el consultor Carlos Thurdekoss experto en el tema.</p><br/>
<p>Del 9 al 12 de Noviembre del 2012 una delegación de la ACBRO asistió por primera vez a la Convención Nacional de Corredores Bienes Raíces de los Estados Unidos (NAR) en  la ciudad de Orlando, Florida. Donde se logró promocionar a la ciudad de Machala y la Provincia. Además se firmó un Acuerdo Honorario Reciproco con la Asociación de Corredores Bienes Raíces  de la ciudad de Miami, Florida. Asociación acreditada desde 1920 a la NAR, con 25.000 profesionales inmobiliarios de 3000 empresas en la comunidad de Miami.</p><br/>
<p>En el mes de Diciembre del 2012 se hizo entrega de la nueva credencial a todos los socios activos de la Asociación, para garantizar el libre ejercicio de la actividad inmobiliaria. De esta manera están respaldados al momento de brindar sus servicios a la colectividad Orense.</p><br/>
<p>En enero del 2012 en reunión de directiva se llegó a un acuerdo de hacer prevalecer los estatutos para poder ser parte de la ACBRO.</p><br/>
<p>El 9 de Febrero del 2013 convocados por el nuevo directorio de la FENACBRE en la ciudad de Quito, se hizo entrega del primer ejemplar de la revista ¨Invirtiendo en El Oro¨ a todas las Asociaciones presentes del Ecuador.</p>
<p>Hoy la Asociación, está más fortalecida que nunca conformado por cuarenta y cinco  miembros activos, y un directorio capaz, dinámico y con la responsabilidad y liderazgo para cumplir los fines que la Asociación se ha propuesto.</p><br/>