<html>
    <head>
        <title>Vision</title>
    </head>
  <body>
      <h1>Vision</h1>
      <p>Ser una empresa lider en el campo de bienes raices.
         Mantener la etica y moral como pilares fundamentales de nuestra empresa.
         Ser conocidos a nivel nacional y proyectarnos a nivel internacionas.
         Dar el mejor servicio al cliente.</p>
  </body>
</html>
