<%= form_for @canton do |c|%>
  <div id="formulario">
    <table>
      <tr>
        <td><%= label_tag nil, "Nombre de Canton:" %></td>
        <td><%= c.text_field :cant_nombre %></td>
      </tr>
      <tr>
        <td colspan="2" class="boton"><%= c.submit "Guardar"%></td>
      </tr>
    </table>
  </div>
<%end%>