<table>
    <tr>
      <td><%= @lista_personas.pers_cedula %></td>
      <td><%= @lista_personas.pers_apellido %></td>
      <td><%= @lista_personas.pers_nombre %></td>
      <td><%= @role.rol_nombre %></td>
    </tr>  
</table>