#rotator
{
/*	border: 1px solid #000;*/
	/*overflow: hidden;*/
/*	margin: 50px auto 10px;*/
/*	position: relative;*/
	width: 100%;
	height: 300px;
        padding: 0;
        margin: 0;
}

#rotator img
{
/*	border: 0;*/
	/*width: 868px;*/
	width:97%;
	height: 268px;
        padding: 15px;
/*border-radius:3px;
-moz-border-radius:13px;
-webkit-border-radius:13px;*/
        border: 1px solid #ccc;
        background-color: #b0c4de;
}