<%= form_for @provincia do |p|%>
  <div id="formulario">
    <table>
      <tr>
        <td><%= label_tag nil, "Nombre de Provincia:" %></td>
        <td><%= p.text_field :prov_nombre %></td>
      </tr>
      <tr>
        <td colspan="2" class="boton"><%= p.submit "Guardar"%></td>
      </tr>
    </table>
  </div>
<%end%>