<%= form_for @operacion do |o|%>
  <div id="formulario">
    <table>
      <tr>
        <td><%= label_tag nil, "Tipo de Operacion:" %></td>
        <td><%= o.text_field :oper_nombre %></td>
      </tr>
      <tr>
        <td colspan="2" class="boton"><%= o.submit "Guardar"%></td>
      </tr>
    </table>
  </div>
<%end%>